<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.company.project.dao.OrderMapper">
    <resultMap id="BaseResultMap" type="com.mall.entity.Order">
        <!--
          WARNING - @mbg.generated
        -->
        <id column="o_id" jdbcType="INTEGER" property="orderId" />
        <result column="o_date" jdbcType="VARCHAR" property="orderDate" />
        <result column="user_id" jdbcType="INTEGER" property="userId" />
        <result column="goods_id" jdbcType="INTEGER" property="goodsId" />
        <result column="total_price" jdbcType="INTEGER" property="totalPrice" />
        <result column="counts" jdbcType="INTEGER" property="counts" />
        <result column="addr" jdbcType="VARCHAR" property="addr" />
    </resultMap>
</mapper>